@charset "utf-8";

/*모바일*/
#wrap {
    min-width: 320px;
    /* position: relative; */
}


header .header_wrap {
    height: auto;
    width: 100%;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 888;
    display: flex;
    justify-content: space-between;
}

header .logo a {
    display: block;
    width: 150px;
    height: auto;
}

header .logo a img {
    width: 100%;
    height: 100%;
}

nav {
    float: right;
}

.ham {
    width: 40px;
    height: auto;
    /* position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%); */

}

.ham a {
    width: 100%;
    height: 100%;
}

.ham a img {
    width: 100%;
    height: 100%;
}

.gnb {
    display: none;
}

.mgnb_wrap {
    width: 100vw;
    height: 100vh;
    background-color: #F9F9F9;
    position: fixed;
    top: 0;
    right: -100vw;
    z-index: 99;
    padding: 40px 20px;
}

.mgnb_wrap .mgnb_logo {
    width: 30%;
    height: auto;
    margin: 50px auto;
}

.mgnb_wrap .mgnb_logo img {
    width: 100%;
    height: auto;
}

.mgnb_wrap .mgnb {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.mgnb_wrap .mgnb li {
    display: flex;
    gap: 20px;
    align-items: center;
}

.mgnb_wrap .mgnb li span {
    display: block;
    width: 10px;
    height: 10px;
    border: 2px solid #000;
}

.mgnb_wrap .mgnb li a {
    display: block;
    padding: 20px 0;
    font-size: 2.0em;
    font-weight: bold;
}

.mgnb_close {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.mgnb_close img {
    width: 100%;
    height: 100%;
}

#main_visual {
    width: 100vw;
    height: 100vh;
    background: url(../img/main_visual_01.jpg) no-repeat center / cover;
    position: relative;
}
#main_visual p{
    font-size: 3.0em;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* .swiper-wrapper {
    transition-timing-function: linear;
}

.swiper {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    background: #ffcccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide .slide_01 span,
.swiper-slide .slide_02 span,
.swiper-slide .slide_03 span {
    display: block;
    width: 80%;
    margin: 0 auto;
    font-weight: bold;
    font-size: 3.5em;
    color: #fff;
    text-align: center;
}

.swiper-slide .slide_01 p,
.swiper-slide .slide_02 p,
.swiper-slide .slide_03 p {
    display: block;
    font-size: 2.0em;
    color: #fff;
    text-align: center;
}

.swiper-slide .slide_01 .slide_line,
.swiper-slide .slide_02 .slide_line,
.swiper-slide .slide_03 .slide_line {
    width: 1px;
    height: 50px;
    background-color: #fff;
    margin: 10px auto;
    animation: line_uptodown 2s ease-in-out;
} 




.slide1 {
    background: url(../img/main_visual_01.jpg) no-repeat center / cover;
}

.slide2 {
    background: url(../img/main_visual_02.jpg) no-repeat center / cover;
}

.slide3 {
    background: url(../img/main_visual_03.jpg) no-repeat center / cover;
}

.swiper-pagination-bullet {
    width: 50px;
    height: 3px;
    border-radius: 10px;
}

.swiper-pagination-bullet-active {
    background-color: #fff;
} */

#about,
#community,
#store {
    padding: 50px 20px;
}

.about_img {
    width: 100%;
    height: auto;
    min-width: 0;
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

.about_img li {
    width: calc((100% - 40px) / 5);
    height: 350px;
}

.about_img li.about_img_01 {
    background: url(../img/img_about_01.jpg) no-repeat center top / cover;
}

.about_img li.about_img_02 {
    background: url(../img/img_about_02.jpg) no-repeat center top / cover;
}

.about_img li.about_img_03 {
    background: url(../img/img_about_03.jpg) no-repeat center top / cover;
}

.about_img li.about_img_04 {
    background: url(../img/img_about_04.jpg) no-repeat center top / cover;
}

.about_img li.about_img_05 {
    background: url(../img/img_about_05.jpg) no-repeat center top / cover;
}

.about_con {
    width: 100%;
}

.about_con h2 {
    font-size: 2.0em;
    font-weight: bold;
    margin-bottom: 20px;
}

.about_con p {
    display: block;
    font-size: 1.6em;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 20px;
}

.about_con a {
    display: block;
    width: 80px;
    height: 35px;
    font-size: 1.6em;
    border: 1px solid #000;
    text-align: center;
    line-height: 35px;
}

.about_con a:hover {
    background-color: #EC3233;
    color: #fff;
    border-color: #EC3233;
}

#menu {
    width: 100%;
    height: 550px;
    background: url(../img/home_menu_bg.jpg) no-repeat center top / cover;
    position: relative;
}

#menu .menu_txt_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    width: 70%;
}

#menu .menu_txt_box a {
    display: block;
    color: #fff;
    margin: 0 auto;
    border-color: #fff;
}

#menu .menu_txt_box a:hover {
    color: #EC3233;
    background-color: #fff;
}

#community .stickers {
    display: flex;
    justify-content: center;
    gap: 30px;
}

#community .stickers>div {
    width: 100px;
    height: auto;
}

#community .stickers>div img {
    width: 100%;
    height: 100%;
}

/*카드 스와이퍼 시작*/


#community .cm_wrap h2 {
    font-size: 2.0em;
    font-weight: bold;
    margin: 30px 0;
    text-align: center;
}

#community .cm_wrap .insta_wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

#community .cm_wrap .insta_wrap li {
    width: calc((100% - 5px) / 2);
    height: 180px;
    cursor: pointer;
}
#community .cm_wrap .insta_wrap li a {
    width: 100%;
    height: 180px;
}

#community .cm_wrap .insta_wrap .cm_img_01 {
    background: url(../img/img_cm_01.jpg) no-repeat center / cover;
}

#community .cm_wrap .insta_wrap .cm_img_02 {
    background: url(../img/img_cm_02.jpg) no-repeat center / cover;
}

#community .cm_wrap .insta_wrap .cm_img_03 {
    background: url(../img/img_cm_03.jpg) no-repeat center / cover;
}

#community .cm_wrap .insta_wrap .cm_img_04 {
    background: url(../img/img_cm_04.jpg) no-repeat center / cover;
}

#community .cm_wrap .insta_wrap .cm_img_05 {
    background: url(../img/img_cm_05.jpg) no-repeat center / cover;
}

#community .cm_wrap .insta_wrap .cm_img_06 {
    background: url(../img/img_cm_06.jpg) no-repeat center / cover;
}


#community .hs_tag_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}

#community .hs_tag_wrap a {
    display: block;
    font-size: 1.6em;
    margin-right: 20px;
    cursor: pointer;
    color: #3f90d2;
}

/*store 시작*/

#store .store_img_flex {
    margin-bottom: 30px;
}

#store .store_img {
    width: 100%;
    height: 400px;
}

#store .store_img:first-child {
    margin-bottom: 5px;
    background: url(../img/img_str_01.jpg) no-repeat center / cover;
}

#store .store_img:last-child {
    background: url(../img/img_str_02.jpg) no-repeat center / cover;
}

#store .store_img img {
    width: 100%;
    height: 100%;
}

/*store 끝*/

footer {
    padding: 60px 20px;
    background-color: #eaeaea;
}

footer a {
    display: block;
    width: 20%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 20px;
}

footer a img {
    width: 100%;
    height: 100%;
}

footer .f_info {
    margin: 0 auto;
    text-align: center;
    font-size: 1.4em;
}

footer .f_info p {
    margin-bottom: 10px;
}

footer .f_info p span {
    margin-right: 10px;
}

footer .f_info p span:last-child {
    margin-right: 0;
}

footer .f_sns {
    margin: 0 auto;
    text-align: center;
    font-size: 1.4em;
    width: 70%;
}

footer .f_sns p {
    display: block;
    font-weight: bold;
    margin: 20px 0;
}

footer .f_sns .sns_flex_wrap {
    display: flex;
    justify-content: center;
}

footer .f_sns .sns a {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    margin: 0 auto;
}

footer .f_sns .sns a img {
    width: 100%;
    height: 100%;
}


/*768이하*/
@media screen and (min-width:768px) {

    header .logo a {
        width: 200px;
    }

    .mgnb_wrap .mgnb_logo {
        width: 20%;
        height: auto;
        margin: 30px auto;
    }

    .swiper-slide>div p {
        font-size: 5.0em;
    }
    #main_visual p{
        font-size: 6.0em;
    }

    .about_img li {
        height: 450px;
    }

    #community .stickers {
        gap: 50px;
    }

    #community .stickers>div {
        width: 140px;
    }

    #community .cm_wrap .insta_wrap li {
        width: calc((100% - 10px) / 3);
        height: 230px;
    }

    #store .store_img_flex {
        display: flex;
        gap: 5px;
        margin-bottom: 0;
    }

    footer .f_sns {
        width: 30%;
    }
}

/*1024이하*/
@media screen and (min-width:1024px) {


    #main_visual p{
        font-size: 8.0em;
    }

    #about,
    #community,
    #store {
        padding: 80px 60px;
    }

    .about_con {
        width: 50%;
    }

    .about_con h2 {
        font-size: 3.0em;
    }

    .about_img {
        margin-bottom: 0;
    }

    #about .about_flex_wrap {
        display: flex;
        gap: 50px;
        justify-content: space-between;
        align-items: center;
    }

    #community .cm_wrap h2 {
        font-size: 3.0em;
        margin: 40px 0;
    }

    #community .cm_wrap .insta_wrap {
        width: 980px;
        margin: 0 auto;
    }

    #community .cm_wrap .insta_wrap li {
        width: calc((100% - 10px) / 3);
        height: 310px;
    }


    #store .store_flex_wrap {
        display: flex;
        gap: 50px;
        align-items: center;
    }

    #store .store_img_flex {
        width: 70%;
    }

    #store .store_img {
        width: 100%;
        /* height: 550px; */
    }

    #store .store_img:first-child {
        margin-bottom: 0;
        margin-right: 10px;
    }

    footer .f_sns .sns {
        width: 60px;
        height: 60px;
        border-radius: 40px;
    }

}

/*1400이하*/
@media screen and (min-width:1400px) {
    .ham {
        display: none;
    }

    .gnb {
        display: flex;
    }

    .gnb li a {
        padding: 15px 25px;
        font-size: 1.8em;
        color: #fff;
    }
    .gnb .gnb_line{
        position: relative;
    }

    .gnb .gnb_line::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -7px;
        width: 0px;
        height: 2px;
        margin: 5px 0 0;
        transition: all 0.2s ease-in-out;
        transition-duration: 0.3s;
        opacity: 0;
        background-color: #fff;

    }
    .gnb .gnb_line:hover:after {
        width: 100%;
        opacity: 1;
    }      
    .swiper-pagination-bullet {
        width: 100px;
    }

    /* .swiper-slide>div p {
        font-size: 11.0em;
    } */


    .swiper-slide .slide_01 span,
    .swiper-slide .slide_02 span,
    .swiper-slide .slide_03 span {
        display: block;
        font-weight: bold;
        font-size: 6.0em;
        color: #fff;
        text-align: center;
    }

    .about_img li {
        height: 550px;
    }

    #community .stickers>div {
        width: 200px;
        height: auto;
    }

    #community .cardSwiper {
        width: 440px;
        height: 550px;
    }

    #store .store_img {
        width: 100%;
        height: 550px;
    }


    footer a {
        width: 15%;
    }

}